<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<div class="grid">
  <div class="col-12 xl:col-6 p-3">
    <div class="card">
      <h5>{{ 'dashboard.sellers' | translate }}</h5>
      <div class="mt-6 flex align-items-end justify-content-between">
        <div class="w-6">
          <app-choose-seller (sellerChange)="handleSellerChange($event)"></app-choose-seller>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!loading && logo">
    <div class="col-12 xl:col-6 p-3 flex justify-content-center align-items-center fadeinright animation-duration-200 animation-iteration-1">
      <img [src]="'assets/img/' + logo" alt="Logo" width="300">
    </div>
  </ng-container>
</div>
<ng-container *ngIf="!loading">
  <div class="grid scalein animation-duration-200 animation-iteration-1">
    <div class="col-12 p-3">
      <div class="card">
        <div class="flex flex-row justify-content-between align-items-center">
          <h5>{{ 'dashboard.priceBuckets' | translate }}</h5>
          <p-selectButton [options]="formatOptions" [(ngModel)]="selectedFormatOption" optionValue="value" (ngModelChange)="handleFormatChange()">
            <ng-template let-item pTemplate>
              <span *ngIf="item.translate; else noTranslateTemplate" class="text-sm font-bold">{{ item.label | translate }}</span>
              <ng-template #noTranslateTemplate>
                <span class="text-sm font-bold">{{ item.label }}</span>
              </ng-template>
            </ng-template>
          </p-selectButton>
        </div>
        <div class="grid">
          <div class="col-12 xl:col-6">
            <div class="flex justify-content-end mt-6 mb-6">
              <app-chart-export-png-btn
                [chartComponent]="barChart"
                [filename]="'price_buckets'">
              </app-chart-export-png-btn>
            </div>
            <p-chart
              #barChart
              type="bar"
              [data]="barData"
              [options]="barOptions"
              [plugins]="plugins"
              height="400px">
            </p-chart>
          </div>
          <div class="col-12 xl:col-6">
            <div class="flex justify-content-end mt-6 mb-6">
              <app-chart-export-png-btn
                [chartComponent]="doughnutChart"
                [filename]="'price_buckets'">
              </app-chart-export-png-btn>
            </div>
            <p-chart
              #doughnutChart
              type="doughnut"
              [data]="doughnutData"
              [options]="doughnutOptions"
              [plugins]="plugins"
              height="400px">
            </p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-3">
      <div class="card">
        <h5>{{ 'dashboard.newProducts' | translate }}</h5>
        <div class="text-color-secondary text-sm">{{ 'dashboard.lastSevenDays' | translate }} ({{ startDate | date: 'dd-MM' }} - {{ endDate | date: 'dd-MM' }})</div>
        <div class="mt-6">
          <app-product-table
            [products]="newProducts"
            [type]="'new-products'"
            [showPaginator]="true"
            [paginatorRows]="5">
          </app-product-table>
        </div>
      </div>
    </div>
    <div class="col-12 p-3">
      <div class="card">
        <h5>{{ 'dashboard.priceChanges' | translate }}</h5>
        <div class="text-color-secondary text-sm">{{ 'dashboard.lastSevenDays' | translate }} ({{ startDate | date: 'dd-MM' }} - {{ endDate | date: 'dd-MM' }})</div>
        <div class="mt-6">
          <app-product-table
            [products]="priceChanges"
            [type]="'price-changes'"
            [showPaginator]="true"
            [paginatorRows]="5">
          </app-product-table>
        </div>
      </div>
    </div>
  </div>
</ng-container>
