<div class="flex justify-content-end mb-4">
  <app-chart-export-png-btn
    [chartComponent]="chart"
    [filename]="'prices'">
  </app-chart-export-png-btn>
</div>
<div class="mb-6">
  <app-date-range-with-options
    [startDate]="startDate"
    [endDate]="endDate"
    (startDateChange)="handleStartDateChange($event)"
    (endDateChange)="handleEndDateChange($event)"
    (dateRangeDropdownOptionChange)="handleDropdownChange($event)">
  </app-date-range-with-options>
</div>
<p-chart
  #chart
  type="line"
  [data]="data"
  [options]="options">
</p-chart>
