.main {
  padding: 0.5rem;
}

.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #dfe7ef;
  margin-bottom: 1rem;
}

.card-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
  color: #212121;
}

@media screen and (min-width: 1960px) {
  .main {
    width: 1504px;
    margin-left: auto;
    margin-right: auto;
  }
}
