.main {
  padding: 0.5rem;
}

.card {
  background-color: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  margin-bottom: 1rem;
}

.card-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
}

@media screen and (min-width: 1960px) {
  .main {
    width: 1504px;
    margin-left: auto;
    margin-right: auto;
  }
}
