<div class="main">
  <div class="flex justify-content-end mb-2">
    <p-button
      [icon]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'"
      (onClick)="changeTheme(!isDarkTheme)">
    </p-button>
  </div>
  <div class="grid">
    <div class="col-12 xl:col-6">
      <div class="card">
        <h5 class="card-heading">Sellers</h5>
        <app-choose-seller></app-choose-seller>
      </div>
      <div class="card">
        <h5 class="card-heading">New products</h5>
        <app-new-products></app-new-products>
      </div>
      <div class="card">
        <h5 class="card-heading">Price changes</h5>
        <app-price-changes-table></app-price-changes-table>
      </div>
    </div>
    <div class="col-12 xl:col-6">
      <div class="card">
        <h5 class="card-heading">Price buckets</h5>
        <app-histogram></app-histogram>
      </div>
      <div class="card">
        <h5 class="card-heading">Price chart</h5>
        <app-price-chart></app-price-chart>
      </div>
    </div>
  </div>
</div>
