.card {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #dfe7ef;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.card-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 0 2rem 0;
  color: #212121;
}
