<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <img src="assets/layout/images/{{isDarkTheme ? 'logo-light' : 'logo-dark'}}.svg"
      alt="logo">
    <span>PriceWatch</span>
  </a>

  <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()">
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
    <button class="p-link layout-topbar-button" (click)="changeTheme(!isDarkTheme)">
      <i [ngClass]="isDarkTheme ? 'pi pi-sun' : 'pi pi-moon'"></i>
    </button>
    <button class="p-link layout-topbar-button" (click)="signOut()">
      <i class="pi pi-power-off"></i>
    </button>
    <span class="ml-3">
      <app-profile-picture></app-profile-picture>
    </span>
  </div>

</div>
