<div class="flex justify-content-end">
  <span class="mr-2">
    <app-date-range
      [disabled]="disabled"
      [startDate]="startDate"
      [endDate]="endDate"
      (startDateChange)="handleStartDateChange($event)"
      (endDateChange)="handleEndDateChange($event)">
    </app-date-range>
  </span>
  <p-dropdown
    [disabled]="disabled"
    [style]="{'width': '200px'}"
    [options]="dateRangeDropdownOptions"
    [optionLabel]="'label'"
    [optionValue]="'value'"
    [(ngModel)]="selectedDropdownOption"
    (ngModelChange)="handleDropdownChange()">
  </p-dropdown>
</div>
