<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<div class="grid">
  <div class="col">
    <div class="card">
      <h5>{{ 'menu.topProducts' | translate }}</h5>
      <div class="mt-6 mb-6 flex flex-row justify-content-between align-items-center">
        <div class="w-3">
          <app-choose-seller (currentSellerChange)="handleSellerChange($event)" [disabled]="loading"></app-choose-seller>
        </div>
        <p-dropdown
          [disabled]="loading"
          [style]="{'width': '200px'}"
          [options]="limitOptions"
          [optionLabel]="'label'"
          [optionValue]="'value'"
          [(ngModel)]="currentLimit"
          (ngModelChange)="handleLimitChange()">
        </p-dropdown>
      </div>
      <ng-container *ngIf="!loading">
        <div class="scalein animation-duration-200 animation-iteration-1">
          <app-product-table
            [products]="products"
            [type]="'new-products'"
            [placeholderSize]="'big'"
            [showPaginator]="true"
            [paginatorRows]="5">
          </app-product-table>
        </div>
      </ng-container>
    </div>
  </div>
</div>
