<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<div class="grid">
  <div class="col">
    <div class="card">
      <h5>{{ 'menu.priceBuckets' | translate }}</h5>
      <div class="mt-6 mb-6 flex flex-row justify-content-between align-items-center">
        <div class="w-3">
          <app-choose-seller (currentSellerChange)="handleSellerChange($event)" [disabled]="loading"></app-choose-seller>
        </div>
        <div class="flex flex-row gap-6 align-items-center">
          <p-selectButton [options]="formatOptions" [(ngModel)]="selectedFormatOption" optionValue="value" (ngModelChange)="handleFormatChange()">
            <ng-template let-item pTemplate>
              <span *ngIf="item.translate; else noTranslateTemplate" class="text-sm font-bold">{{ item.label | translate }}</span>
              <ng-template #noTranslateTemplate>
                <span class="text-sm font-bold">{{ item.label }}</span>
              </ng-template>
            </ng-template>
          </p-selectButton>
          <p-selectButton [options]="chartOptions" [(ngModel)]="selectedChart" optionValue="value">
            <ng-template let-item pTemplate>
              <i [class]="item.icon"></i>
            </ng-template>
          </p-selectButton>
        </div>
      </div>
      <ng-container *ngIf="!loading">
        <ng-container *ngIf="selectedChart === 'bar'; else doughnutTemplate">
          <div class="scalein animation-duration-200 animation-iteration-1">
            <div class="flex justify-content-end mb-6">
              <app-chart-export-png-btn
                [chartComponent]="barChart"
                [filename]="'price_buckets'">
              </app-chart-export-png-btn>
            </div>
            <p-chart
              #barChart
              type="bar"
              [data]="barData"
              [options]="barOptions"
              [plugins]="plugins"
              height="600px">
            </p-chart>
          </div>
        </ng-container>
        <ng-template #doughnutTemplate>
          <div class="scalein animation-duration-200 animation-iteration-1">
            <div class="flex justify-content-end mb-6">
              <app-chart-export-png-btn
                [chartComponent]="doughnutChart"
                [filename]="'price_buckets'">
              </app-chart-export-png-btn>
            </div>
            <p-chart
              #doughnutChart
              type="doughnut"
              [data]="doughnutData"
              [options]="doughnutOptions"
              [plugins]="plugins"
              height="600px">
            </p-chart>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
