<div class="mb-1" *ngIf="label">{{ label | translate }}</div>
<div class="flex flex-row align-items-center">
  <p-inputNumber
    [(ngModel)]="range.min"
    [useGrouping]="false"
    [min]="minThreshold"
    [max]="range.max"
    (ngModelChange)="handleRangeChange()"
    [style]="{'width': '100%'}"
    placeholder="min"
    [showButtons]="true"
    [step]="step">
  </p-inputNumber>
  <span class="mx-2">-</span>
  <p-inputNumber
    [(ngModel)]="range.max"
    [useGrouping]="false"
    [min]="range.min"
    [max]="maxThreshold"
    (ngModelChange)="handleRangeChange()"
    [style]="{'width': '100%'}"
    placeholder="max"
    [showButtons]="true"
    [step]="step">
  </p-inputNumber>
</div>
