<p-panel header="{{ 'filter.filters' | translate }}" [toggleable]="true">
  <div class="grid">
    <div class="col-4">
      <app-choose-seller></app-choose-seller>
    </div>
    <div class="col-4">
      <app-status-filter></app-status-filter>
    </div>
    <div class="col-4">
      <app-range-filter label="productTable.price"></app-range-filter>
    </div>
    <div class="col-4 mt-1">
      <app-promo-filter></app-promo-filter>
    </div>
    <div class="col-4 mt-1">
      <app-range-filter label="filter.numberOfPeople"></app-range-filter>
    </div>
    <div class="col-4 flex align-items-center mt-1">
      <div class="flex align-items-center gap-1 cursor-pointer">
        <p-checkbox [(ngModel)]="newProductsOnly" [binary]="true" label="{{ 'filter.newProductsOnly' | translate }}" class="mr-4"></p-checkbox>
        <p-checkbox [(ngModel)]="priceChangeOnly" [binary]="true" label="{{ 'filter.priceChangeOnly' | translate }}"></p-checkbox>
      </div>
    </div>
    <div class="col-12 flex justify-content-between mt-4">
      <div class="flex flex-row gap-2">
        <p-button label="{{ 'filter.saveFilter' | translate }}" styleClass="p-button-outlined p-button-secondary" icon="pi pi-check"></p-button>
        <p-button label="{{ 'filter.clearFilter' | translate }}" styleClass="p-button-outlined p-button-secondary" icon="pi pi-times"></p-button>
      </div>
      <p-button label="{{ 'filter.applyFilters' | translate }}" styleClass="p-button-warning" icon="pi pi-search"></p-button>
    </div>
  </div>
</p-panel>
