<p-table
  #table
  [value]="products"
  [columns]="columns"
  [paginator]="showPaginator && products.length > paginatorRows"
  [rows]="paginatorRows"
  [showCurrentPageReport]="false"
  [globalFilterFields]="getFilterFields()">
  <ng-template pTemplate="caption">
    <div class="flex">
      <button
        type="button"
        pButton
        icon="pi pi-file"
        (click)="table.exportCSV()"
        class="mr-2"
        pTooltip="CSV"
        tooltipPosition="bottom">
      </button>
      <app-excel-export-btn
        [exportData]="exportData"
        (downloadProgressChange)="handleDownloadProgressChange($event)">
      </app-excel-export-btn>
      <app-pdf-export-btn
        [exportData]="exportData">
      </app-pdf-export-btn>
      <div class="w-10rem flex flex-column justify-content-around mr-2" *ngIf="downloadProgress > -1">
        <span *ngIf="downloadProgress < 100" class="font-semibold text-sm">Downloading...</span>
        <div *ngIf="downloadProgress === 100" class="flex align-items-center">
          <span class="mr-1 font-semibold text-sm text-green-600">Done</span>
          <i class="pi pi-check text-sm font-semibold text-green-500"></i>
        </div>
        <p-progressBar
          [value]="downloadProgress"
          [showValue]="false"
          [style]="{'height': '6px'}">
        </p-progressBar>
      </div>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          type="text"
          (input)="table.filterGlobal($any($event.target).value, 'contains')"
          placeholder="Search"/>
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [ngStyle]="col.ngStyle">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        <ng-container *ngIf="col.field === 'currentPrice' || col.field === 'prevPrice'; else noPrice">
          {{rowData[col.field] | number:'1.2-2'}} zł
        </ng-container>
        <ng-template #noPrice>
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'imgSrc'">
              <img [src]="rowData[col.field]" alt="Product image" width="80" height="60" class="shadow-4 pd-4">
            </ng-container>
            <ng-container *ngSwitchCase="'link'">
              <p-button icon="pi pi-external-link" styleClass="p-button-link" (onClick)="navigateToUrl(rowData[col.field])"></p-button>
            </ng-container>
            <ng-container *ngSwitchCase="'priceChange'">
              <span [ngClass]="{'text-success': rowData[col.field] > 0, 'text-danger': rowData[col.field] < 0}">
                {{ (rowData[col.field] > 0 ? '+' : '') + (rowData[col.field] | number:'1.2-2') }} zł
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'priceChangePercentage'">
              <span [ngClass]="{'text-success': rowData[col.field] > 0, 'text-danger': rowData[col.field] < 0}">
                {{ (rowData[col.field] > 0 ? '+' : '') + (rowData[col.field] | number:'1.0-0') }} %
              </span>
            </ng-container>
            <ng-container *ngSwitchCase="'name'">
              {{rowData[col.field] | stripPrice}}
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{rowData[col.field]}}
            </ng-container>
          </ng-container>
        </ng-template>
      </td>
    </tr>
  </ng-template>
</p-table>
