<p-table
  [value]="products"
  [columns]="columns">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{product.name}}</td>
      <td><img [src]="product.imgSrc" alt="Product image" width="80" height="60" class="shadow-4 pd-4"></td>
      <td>{{product.currentPrice | number:'1.2-2'}} zł</td>
      <td><p-button icon="pi pi-external-link" styleClass="p-button-link" (onClick)="navigateToUrl(product.link)"></p-button></td>
    </tr>
  </ng-template>
</p-table>
