<div class="px-5 min-h-screen flex justify-content-center align-items-center">
  <div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
    <div class="mb-4">
      <div class="text-900 text-xl font-bold mb-2">{{ 'login.logIn' | translate }}</div>
      <span class="text-600 font-medium">{{ 'login.enterDetails' | translate }}</span>
    </div>
    <form [formGroup]="formGroup!" (ngSubmit)="login()">
      <div class="flex flex-column">
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-envelope"></i>
          <input id="email" type="text" pinputtext="" placeholder="Email" class="p-inputtext p-component p-element w-full md:w-25rem" formControlName="email">
        </span>
        <span class="p-input-icon-left w-full mb-4">
          <i class="pi pi-lock"></i>
          <input id="password" type="password" pinputtext="" placeholder="{{ 'login.password' | translate }}" class="p-inputtext p-component p-element w-full md:w-25rem" formControlName="password">
        </span>
        <button pbutton="" pripple="" class="p-element w-full p-button p-button-link p-component text-left pl-0" tabindex="0" type="button" (click)="forgotBtnClicked()">
          <span class="p-button-label">{{ 'forgotPassword.title' | translate }}</span>
        </button>
        <button pbutton="" pripple="" class="p-element w-full p-button p-component mt-4" tabindex="0" [disabled]="!formGroup?.valid" type="submit">
          <span class="p-button-label">{{ 'login.logIn' | translate }}</span>
        </button>
        <div class="flex flex-row justify-content-between align-items-center mt-4">
          <span class="thin-gray-line"></span>
          <span class="or-text">{{ 'login.or' | translate }}</span>
          <span class="thin-gray-line"></span>
        </div>
        <button type="button" class="google-sign-in-button mt-4 flex align-items-center justify-content-center gap-4" (click)="signInWithGoogle()">
          <img src="assets/img/Google.png" height="20">{{ 'login.googleSignIn' | translate }}
        </button>
        <button pbutton="" pripple="" class="p-element w-full p-button p-button-link p-component mt-4" tabindex="0" type="button" (click)="registerBtnClicked()">
          <span class="p-button-label">{{ 'login.noAccount' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
