.profile-picture {
  border-radius: 50%;
  object-fit: cover;
}

.big-letter {
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-enabled:hover {
  cursor: pointer;
}
